@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-['Space_Grotesk'] bg-white text-black dark:bg-[#0f0f0f] dark:text-white;
}

@layer base {
  html {
    @apply font-['Space_Grotesk'] text-black dark:text-white;
  }

  strong, b, em, i, p, li, span, a, blockquote {
    @apply font-['Space_Grotesk'];
  }
}

.typing-effect::after {
  content: '|';
  animation: blink 1s step-end infinite;
  /* Ensure the cursor color matches the text color, 
     or set a specific color. currentColor should work with dark/light mode. */
  color: currentColor; 
  /* Adjust margin if needed to position the cursor correctly */
  margin-left: 0.1em; 
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@layer base {
  h1, h2, h3 {
    @apply font-['Space_Grotesk'];
  }
}

